body {
    font-family: 'Tajawal', sans-serif;
    text-align: right;
    direction: rtl;
    padding: 20px;
}

header {
    background: linear-gradient(45deg, #facba7, #cf966a);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 12px;
}

.analysis-card {
    max-width: 700px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ca0c0c;
}

label {
    display: block;
    font-size: 20px;
    margin: 8px 0;
    color: #030303;
}

button {
    background: #A67B5B;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 28px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    background: #8B5E3C;
}

.hidden {
    display: none;
}

#skinResultText {
    background: #ffffff; 
    color: rgb(5, 5, 5); 
    padding: 16px 24px; 
    border-radius: 8px; 
    font-size: 26px; 
    font-weight: bold; 
    text-align: center; 
    display: block; 
    margin: 25px auto; 
    width: fit-content; 
}